<a href="https://colab.research.google.com/github/aman5898/LRC-Content-Hot-Dev/blob/main/Power%20Plant%20Energy%20Prediction%20AI%20Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget -O "power_plant_energy_prediction_ai_challenge-dataset.zip" "https://dockship-job-models.s3.ap-south-1.amazonaws.com/4b4d5e9d7624d0bce302d236fb1dd255?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20211220%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20211220T103803Z&X-Amz-Expires=1800&X-Amz-Signature=9b5135dfa08c15ba3573f514e4d4603d88432f692d1d1dfa2dce9128e9b75f5e&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22power_plant_energy_prediction_ai_challenge-dataset.zip%22"

--2021-12-20 10:41:08--  https://dockship-job-models.s3.ap-south-1.amazonaws.com/4b4d5e9d7624d0bce302d236fb1dd255?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20211220%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20211220T103803Z&X-Amz-Expires=1800&X-Amz-Signature=9b5135dfa08c15ba3573f514e4d4603d88432f692d1d1dfa2dce9128e9b75f5e&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22power_plant_energy_prediction_ai_challenge-dataset.zip%22
Resolving dockship-job-models.s3.ap-south-1.amazonaws.com (dockship-job-models.s3.ap-south-1.amazonaws.com)... 52.219.158.78
Connecting to dockship-job-models.s3.ap-south-1.amazonaws.com (dockship-job-models.s3.ap-south-1.amazonaws.com)|52.219.158.78|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 111746 (109K) [binary/octet-stream]
Saving to: ‘power_plant_energy_prediction_ai_challenge-dataset.zip’

power_plant_energy_ 100%[===================>] 109.13K   172KB/s    in 0.6s

2021-12-20 10:41:09 (172 KB/s) - ‘power_plant_energy_prediction_ai_challenge-dataset.zip’ saved [111746/111746]

In [ ]:
!ls

power_plant_energy_prediction_ai_challenge-dataset.zip	sample_data

In [ ]:
!unzip '/content/power_plant_energy_prediction_ai_challenge-dataset.zip'

Archive:  /content/power_plant_energy_prediction_ai_challenge-dataset.zip
  inflating: SampleSubmission.csv
  inflating: TEST.csv
  inflating: TRAIN.csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
traindf = pd.read_csv('/content/TRAIN.csv')

In [ ]:
testdf = pd.read_csv("/content/TEST.csv")

In [ ]:
traindf

         AT      V       AP     RH      PE
0     22.85  60.29  1017.29  61.92  448.58
1     11.75  35.76  1018.99  57.92  473.01
2     12.24  44.90  1020.31  82.22  464.25
3     13.43  40.10  1015.82  87.90  471.77
4      4.65  35.19  1018.23  94.78  489.36
...     ...    ...      ...    ...     ...
7995  18.74  45.09  1014.24  41.54  456.25
7996  15.43  40.89  1010.63  73.03  468.35
7997  12.36  52.75  1026.04  68.71  465.14
7998  25.98  73.18  1012.28  85.78  439.73
7999   9.08  42.49  1010.67  85.35  481.46

[8000 rows x 5 columns]

In [ ]:
from sklearn.preprocessing import RobustScaler